body {
    margin: 0;
    background: #2c2c2c;
    font-family: Arial, sans-serif;
    text-align: center;
    header {
        margin-top: 20px;
    }
    
    .button-header {
        display: inline-block;
        padding: 10px 20px;
        background-color: #3D3D3D;
        color: #A9DEF9;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-decoration: none;
        margin: 5px;
    }
    
    .button-header:hover {
        background-color:  #554d4d;
    }
    
    .button-header:active {
        background-color: #A9DEF9;
    }

}